<h1>Practica 44   <small>Rutas y Lazyload</small></h1>
<hr>
<br><br>

  <ul>

    <li>
      <a routerLink="auth/especialidades">Especialidades</a>
      <!-- <router-outlet></router-outlet> -->
    </li>
    <ul>
      <li class="hiperdelhiper">
        <a href="#">➢ Desarrollador FrontEnd</a>
      </li>

      <li class="hiperdelhiper">
        <a href="#">➢ Desarrollador BackEnd</a>
      </li>
      
      <li class="hiperdelhiper">
        <a href="#">➢ Desarrollador FullStack</a>
      </li>
    </ul>
  </ul>


  <ul>
    <li>
      <a routerLink="auth/carreras">Carreras</a>
      <!-- <router-outlet></router-outlet> -->
    </li>

    <ul>
      <li class="hiperdelhiper">
        <a href="#">➢ Medicina</a>
      </li>

      <li class="hiperdelhiper">
        <a href="#">➢ Sistemas </a>
      </li>
      
      <li class="hiperdelhiper">
        <a href="#">➢ Arquitectura </a>
      </li>
    </ul>

  </ul>

  <ul>
    <li>
      <a routerLink="auth/marcaslaptop">Marcas de Laptop</a>
      <!-- <router-outlet></router-outlet> -->
    </li>

    <ul>
      <li class="hiperdelhiper">
        <a href="#">➢ Lenovo</a>
      </li>

      <li class="hiperdelhiper">
        <a href="#">➢ Dell </a>
      </li>
      
      <li class="hiperdelhiper">
        <a href="#">➢ Asus</a>
      </li>
    </ul>

  </ul>

  <ul>
    <li>
      <a routerLink="auth/marcasgaseosa">Marcas de Gaseosas</a>
      <!-- <router-outlet></router-outlet> -->
    </li>

    <ul>
      <li class="hiperdelhiper">
        <a href="#">➢ Coca Cola </a>
      </li>

      <li class="hiperdelhiper">
        <a href="#">➢ Fanta </a>
      </li>
      
      <li class="hiperdelhiper">
        <a href="#">➢ Sprite </a>
      </li>
    </ul>
  
  </ul>


